@media (max-width: 479px)
{
    /*----------------
        Event head
    ----------------*/
    .event_head
    {
        padding: 148px 0 80px;
    }


    .event_head .title
    {
        font-size: 32px;
    }



    /*----------------
        Event data
    ----------------*/
    .event_data .btns .btn
    {
        width: 100%;
    }


    .event_data .item.location
    {
        margin-top: 20px;
    }



    /*----------------
        Event info
    ----------------*/
    .event_info .laureates
    {
        gap: 20px;
    }


    .event_info .laureates .photos img
    {
        width: 72px;
        height: 72px;

        border-width: 3px;
    }


    .event_info .laureates .photos img + img
    {
        margin-left: -18px;
    }


    .event_info .accordion_item .head .name
    {
        font-size: 18px;
    }



    /*------------------
        Event banner
    ------------------*/
    .event_banner
    {
        padding-bottom: 24px;
    }




    /*--------------------
        Event partners
    --------------------*/
    .event_partners .row
    {
        gap: 40px 24px;
    }


    .event_partners .row img
    {
        max-width: 132px;
        max-height: 60px;
    }



    /*-------------------
        Event gallery
    -------------------*/
    .event_gallery .block_title
    {
        padding: 0;
    }


    .event_gallery .swiper
    {
        padding-bottom: 64px;
    }


    .event_gallery .swiper-slide
    {
        width: 342px;
    }


    .event_gallery .swiper-button-next,
    .event_gallery .swiper-button-prev
    {
        bottom: 0;

        margin: 0;
    }


    .event_gallery .swiper-button-prev
    {
        right: auto;
        left: 0;
    }


    .event_gallery .swiper-pagination
    {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 50%;

        display: flex;
        display: block;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        height: 48px;

        transform: translateX(-50%);
    }
}
