@media print,
(max-width: 1439px)
{
    /*------------
        Header
    ------------*/
    header
    {
        border-radius: 0 0 32px 32px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 60px 0;
    }



    footer .data
    {
        margin-bottom: 60px;
        padding-left: 0;
    }


    footer .data img
    {
        display: none;
    }


    footer .data .title
    {
        font-size: 68px;

        text-align: center;
        letter-spacing: .68px;
    }


    footer .data .period
    {
        width: 1188px;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;

        gap: 18px;
    }


    footer .data .period .start,
    footer .data .period .current
    {
        font-size: 64px;

        min-width: 140px;
    }

    footer .data .period .duration
    {
        font-size: 30px;
    }



    footer .links,
    footer .contacts
    {
        width: 280px;
        margin-left: 32px;
    }
}
